body{
	width:800px;
	margin:0;
	padding:0;

}

header {
	background:blue; 
	color:white;
	width:800px;
	margin:0;
	align-items:center;
	justify-content:center;
	display:flex;
	height:50px; 
}



nav ul{
	margin:0;
	color:white;
	background:green;
	width:800px;
	height:30px;
	padding: 0;


}


nav ul li {
	display:inline-block;
	margin:5px;
	color:white;


}


article{

	width: 533px;
	height: 250px;
	background: pink;
	color:white;
	border-spacing: 10px;
	border-width:10px;
	text-align: center;
	overflow: hidden;


}

section{
	width:533px;
	height: 80px;
	background: red;
	border-spacing: 10px;
	box-sizing: border-box;
	border-size:10px;
	margin: 10px 0;
	padding:10px;
	display:inline-block;
}

aside{
	background:purple; 
	color:white;
	width:266px;
	margin:0;
	justify-content:center;
	display:flex;
	height:180px; 
}

footer {
	background:green; 
	color:white;
	width:800px;
	margin:0;
	align-items:center;
	justify-content:center;
	display:flex;
	height:30px; 
}
